$tabs-bg:                  $bg-white;
$tabs-bg-active:           $bg-white;
$tabs-border-active:       $blue-dark;
$tabs-border-hover:        $blue;
$tabs-border-opacity:      $blue-opacity;
$tabs-border:              $gray-light;