/* 
    Created on : 18.03.2018, 0:51:15
    Author     : ArtSide
*/
.shadow{
    @include box-shadow(rgba(black, 0.3) 0 0 25px);
}
.card-shadow{
    @include box-shadow(rgba(black, 0.2) 0 0 7px);
}
.button{
    @include button($blue-dark, $font-size);
    margin: $margin-t-b 0px;
}
.border-button{
    @include border-button($gray, $gray-light, $font-size);
    margin: $margin-t-b 0px;
}
.round-button{
    @include round-button($blue-dark, $font-size);
}
.clear{
    content: '';
    display: block;
    clear: both;
}
.floating-block-bottom{
    width: 100%;   
    padding-left: $sidebar-width+$page-content-padding;
    padding-right: $page-content-padding;
    position: fixed;     
    bottom: 0px;
    left: 0px;
    z-index:999;
    &__block{
        background: $bg-color;
        //@extend .shadow;
        border-top: 1px solid $gray-light;
        input, a{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}
